@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


* {
  box-sizing: border-box;
}
.marine{
  background-image:linear-gradient(to right, rgba(24, 23, 32, 1), rgba(24, 23, 32, 0.1)), url('../public/Images/top-brand1.png');
}
.fish{
  background-image:linear-gradient(to right, rgba(24, 23, 32, 1), rgba(24, 23, 32, 0.1)), url('../public/Images/top-brand2.png');
}
.diving{
  background-image:linear-gradient(to right, rgba(24, 23, 32, 1), rgba(24, 23, 32, 0.1)), url('../public/Images/top-brand3.png');
}
.water{
  background-image:linear-gradient(to right, rgba(24, 23, 32, 1), rgba(24, 23, 32, 0.1)), url('../public/Images/top-brand4.png');
}
.camping{
  background-image:linear-gradient(to right, rgba(24, 23, 32, 1), rgba(24, 23, 32, 0.1)), url('../public/Images/top-brand5.png');
}