.slick-initialized {
  padding-right: 20px;
}
.card{
  transition: all;
  transition-duration: 5s;
  transition-timing-function: ease;
  visibility: hidden;
  opacity: 0;
}

.group:hover .card{
    opacity: 1 !important;
    visibility: visible !important;
}